<li class="nav-item dropdown">

    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
        id="bd-theme"
        type="button"
        aria-expanded="false"
        data-bs-toggle="dropdown"
        data-bs-display="static"
        aria-label="Toggle theme (auto)">
        <i class="{{currentItem.iconClass}} theme-icon-active" id="bd-theme-icon"></i>
        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
    </button>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
        <li *ngFor="let item of items">
            <button type="button" class="dropdown-item d-flex align-items-center {{item.isSelected ? 'active' : ''}}" aria-pressed="false" (click)="onClickDropdownItem($event, item)">
                <i class="{{item.iconClass}} me-2 opacity-50"></i>
                {{item.text}}
                <i class="bi-check2 ms-auto d-none"></i>
            </button>
        </li>
    </ul>

</li>